
* {
  box-sizing: border-box;
  direction: rtl;
}

.search-hero {
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
 
}
.form-control::placeholder  {
  font-family: FontAwesome;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.required-label:after {
  content: '*';
  position: absolute;
  margin-right: 5px;
  color: #ee0000;
  font-size: 1.5em;
}


.container {
  font-family: Heebo-Regular;
  // border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  box-shadow:#919393 0px 0px 15px 0px;
  border-radius:20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#returnHome{
  border: none;
  background-color: white;
  font-weight: bold;
  direction: rtl;
margin-top: -1%;
position: absolute; 
color: rgb(21 48 141);
}
#returnHome:hover{
  #faClass{
      transform: scale(1.2);
      font-size:24px;
      color: rgb(21 48 141);
  }
}


