<app-header></app-header>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="row justify-content-center">
  <div class="col-1"><span (click)="return()" style="cursor:pointer" class="material-symbols-outlined">
      keyboard_return
    </span></div>
  <h2 class="col-9">{{zman}} {{nameEmployee}} </h2>
</div>

<div class="container">
  <form [formGroup]="form"  action="/action_page.php">
    <div class="row ">
      <div class="col-md-2 blockquote ">
        <label for="mobile">טלפון הפונה לחזרה<span class="glyphicon glyphicon-earphone"></span><span
          class="required-label"></span></label>
      </div>
      <div class="col-2">
        <input formControlName="mobileNumber" type="text" [(ngModel)]="phoneAsker" id="mobile" name="mobile"
          maxlength="13" placeholder="000 000 000" dir="rtl" (change)="searchPhone()">
        <span
          *ngIf="form.get('mobileNumber')?.invalid && (form.get('mobileNumber')?.dirty || form.get('mobileNumber')?.touched)"
          style="color:red;">{{getErrorMessageMobileNumber()}}
        </span>      </div>
      <div class="col-1"></div>
      <div class="col-2 blockquote">
        <label for="nameApply">שם הפונה <span class="glyphicon glyphicon-pencil "></span><span
          class="required-label"></span></label>
      </div>
      <div class="col-2">
        <input formControlName="hebrewLetters" type="text" [(ngModel)]="nameApply"
         id="nameApply" name="nameApply"
          placeholder="שם הפונה">
        <span
          *ngIf="form.get('hebrewLetters')?.invalid && (form.get('hebrewLetters')?.dirty || form.get('hebrewLetters')?.touched)"
          style="color:red;">{{getErrorMessageHebrewLetters()}}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 blockquote ">
        <label for="causeReferral" class="required-label">סיבת הפניה</label>
      </div>
      <div class="col-2">
        <select id="selectedValue" name="selectedValue" formControlName="selectedValueControl"
          (change)="onSelectedValueChange()" required>
          <option *ngFor="let item of arrayCauseReferral" value="{{item.descreption}}">{{item.descreption}}</option>
        </select>
      </div>
      <div class="col-1"></div>
      <div class="col-2 blockquote">
        <label for="mobile" class="required-label"> רמת דחיפות</label>
      </div>
      <div class="col-2">
        <select id="selectedValue" name="selectedValueLevelUrgency" formControlName="selectedValueControlLevelUrgency"
          (change)="onSelectedValueChangeLevelUrgency()" required>
          <option *ngFor="let item of arrayLevelUrgency" value="{{item.name}}">{{item.name}}</option>
        </select>

      </div>
    </div>
    <div *ngIf="isAnotherCause==true" class="row">
      <div class="col-2 blockquote">
        <label for="causeReferral">פירוט סיבת פנייה : <span class="glyphicon glyphicon-pencil"></span></label>
      </div>
      <div class="col-3">
        <input type="text" formControlName="valueDetailsAnotherCause" [(ngModel)]="newApply.detailsAnotherCause"
          id="nameApply" name="nameApply" placeholder="פירוט סיבת הפנייה" dir="rtl">
      </div>
    </div>
  

    <div class="row">
      <div class="col-2 blockquote ">
        <label for="causeReferral" class="required-label"> זיקה למושא הפנייה</label>
      </div>
      <div class="col-2">
        <select id="selectedValueR" name="selectedValueR" [(ngModel)]="selectedValueR"
        (ngModelChange)="onSelectedValueChangeR($event)" formControlName="affinity" required>
        <option style="text-align: right;" *ngFor="let r of arrayReferral"
        [value]="r.name">{{r.name}}</option>   
        </select>
      </div>
      <div *ngIf="isAnotherR==true" class="row"></div>
      <div *ngIf="isAnotherR==true" class="col-2 blockquote">
        <label for="mobile" class="required-label"> פירוט הזיקה</label>
      </div>
      <div *ngIf="isAnotherR==true" class="col-2">
          <input  type="text" matInput id="selectedValueRO" name="selectedValueRO"
           [(ngModel)]="newDetailsAsker.affinity" formControlName="affinityO">
      </div>
      <div class="col-1"></div>
      <div class="col-2 blockquote">
        <label for="mobile" class="required-label">  הופנה על ידי</label>
      </div>
      <div class="col-2">
        <input  type="text" id="referredBy" name="referredBy" [(ngModel)]="newDetailsAsker.referredBy" 
       formControlName="refferalB" required>
      </div>
    </div>


    <!-- 
<div class="col-md-3">
            <mat-form-field style="text-align: right;">
              <mat-label>בחר זיקה למושא הפנייה :</mat-label>
              <mat-select id="selectedValueR" name="selectedValueR" [(ngModel)]="selectedValueR"
                (ngModelChange)="onSelectedValueChange($event)" formControlName="affinity" required>
                <mat-option style="text-align: right;" *ngFor="let r of arrayReferral"
                  [value]="r.id">{{r.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="
              form.get('affinity')?.invalid &&
              (form.get('affinity')?.dirty || form.get('affinity')?.touched)
            " style="color: red">{{ getErrorMessageAffinity() }}</mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="isAnotherR==true" class="col-md-3">
            <mat-form-field style="text-align: right;margin-right: 1%;" class="example-full-width">
              <mat-label>פירוט הזיקה למושא הפניה:</mat-label>
              <input matInput id="selectedValueRO" name="selectedValueRO" [(ngModel)]="selectedValueRO"
                (change)="sendValueB(selectedValueRO)">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field style="text-align: right;">
              <mat-label>הופנה על ידי:</mat-label>
              <input matInput id="referredBy" name="referredBy" [(ngModel)]="newDetailsAsker.referredBy"
                (change)="sendValueReferredBy()" formControlName="refferalB">
              <!- <mat-error *ngIf="
                form.get('refferalB)?.invalid &&
                (form.get('refferalB')?.dirty || form.get('refferalB')?.touched)
              " style="color: red">שדה חובה</mat-error> 
            </mat-form-field>
            
          </div>-->



     



    <div class="row">
    </div>
    <div class="row justify-content-center">
      <div class="col-md-auto d-flex ">
        <button type="submit" [disabled]="form.invalid"class="btn" (click)="sendIntake()">שליחה לאינטייק</button>
      </div>
      <div class="col-md-auto d-flex ">
        <button type="submit"[disabled]="form.invalid"class="btn" (click)="sendManager()">שליחה למנהל הפניות </button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="isOk" class="row justify-content-center">
  
  <div class="search-hero">
    <br>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="ערך לחיפוש  &#61442; ">
  </div>
  <div class="col-md-9 mr-2">
    <table dir="rtl" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">רמת דחיפות</th>
          <th scope="col">טלפון</th>
          <th scope="col">תאריך</th>
          <th scope="col">מספר פנייה</th>
          <th scope="col">שם פרטי</th>
          <th scope="col">שם משפחה</th>
          <th scope="col">שם ממלא</th>
          <th scope="col">סטטוס הפנייה</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let item of newApplyListA| filter:searchText;let indexOfelement=index;"style="cursor: pointer;" (click)="showTreatmentDetails(item.apply?.id)">
            <td *ngIf="item.apply?.levelUrgency=='VIP'" style="background-color: brown;color: white;">{{item.apply?.levelUrgency}}</td>
            <td *ngIf="item.apply?.levelUrgency!='VIP'">{{item.apply?.levelUrgency}}</td>
            <td>{{item.apply?.asker?.phone}}</td>
            <td>{{item.dateEndTreatment}}</td>
            <td>{{item.apply?.id}}</td>
            <td>{{item.patientDetails?.user?.firstName}}</td>
            <td>{{item.patientDetails?.user?.lastName}}</td>
            <td>{{item.treatment?.therapist?.idUserNavigation?.firstName}}</td>
            <td>{{item.treatment?.status?.details}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>