<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" /> -->

<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<!-- <button id="returnHome" (click)="return()"> -->
<!-- ליבא את התמונה ולהכניס ל assets -->
<!-- <svg id="faClass" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
  </svg> -->
<!-- עד פה -->
<!-- <br>חזרה לדף הבית</button> -->
<!-- חץ גלילה לתחילת הדף לא עובד טוב -->
<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="fa-solid fa-arrow-up"></i></a> -->
<app-header></app-header>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="keyboard_return"><span (click)="return()" class="material-symbols-outlined">keyboard_return
  </span></div>
<div class="row justify-content-center">
  <h2>קליטת פניה חדשה</h2>
</div>


<!-- <h1 style="margin-top: 10px;">קליטת פניה חדשה</h1> -->
<div class="container">
  <div class="row ">

    <div *ngIf="currentApply.asker" (mousedown)="onMouseDown($event)" (document:mousemove)="onMouseMove($event)"
      (document:mouseup)="onMouseUp($event)" class="col-md-3 fff">

      <!-- <div class="col-md-auto"> -->
      <!-- <div class=" justify-content-end fff"> -->
      <div class="row">
        <label>שם הפונה: {{ currentApply.asker?.firstName }}| </label>
        <!--  -->
      </div>
      <div class="row">
        <label>מספר טלפון:{{ currentApply.asker?.phone }} | </label>
      </div>
      <div class="row">
        <label>סיבת הפנייה :{{ currentApply.applyCaused?.descreption }}
          <span *ngIf="currentApply.detailsAnotherCause">-{{ currentApply.detailsAnotherCause }}</span>
        </label>
      </div>
      <div class="row">
        <label>
          <a *ngIf="isPressSZ == false" (click)="isPressSZ = !isPressSZ">
            <mat-icon>keyboard_arrow_down</mat-icon>שיחה זורמת פירוט פניה</a>
          <a *ngIf="isPressSZ == true" (click)="isPressSZ = !isPressSZ">
            <mat-icon>keyboard_arrow_up</mat-icon>שיחה זורמת פירוט פניה</a>
        </label>
      </div>

      <div class="row">
        <textarea *ngIf="isPressSZ == true" class="text-input" id="detailsApplyCaused" name="detailsApplyCaused"
          [(ngModel)]="currentApply.detailsCausedRefferal" #textarea (input)="resizeTextarea(textarea)"
          (change)="saveAndUpdateDetailsCause()" matInput>
              </textarea>
      </div>
    </div>
    <!-- <div class="col-md-8"> -->
    <div class="col-md-auto">
      <label>פנייה מספר: {{ numApply }}| </label>
      <!--  -->
    </div>
    <div class="col-md-auto">
      <label> תאריך:{{ dateFill | date : "dd/MM/yyyy" }} | </label>
    </div>
    <div class="col-md-auto ">
      <label>שם ממלא: {{ nameFill }}| </label>
    </div>

  </div>
  <!-- <div class="row "> -->

  <!-- </div> -->


</div>
<!-- /עד כאן מצוין -->

<div class="all-container">
  <div class="list-product-container">
    <h2 class="header-text">פרטים אישיים</h2>
    <div class="detaile">
      <div class="row">
        <div class="col-md-3">
          <div [formGroup]="form">
            <mat-form-field>
              <mat-label>שם פרטי:</mat-label>
              <input matInput formControlName="hebrewLettersF" type="text" id="firstNameApply" name="firstNameApply"
                [(ngModel)]="user.firstName" required />
              <mat-error *ngIf="
                      form.get('hebrewLettersF')?.invalid &&
                      (form.get('hebrewLettersF')?.dirty ||
                        form.get('hebrewLettersF')?.touched)
                    " style="color: red">{{ getErrorMessageHebrewLettersF() }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-3">
          <div [formGroup]="form">
            <mat-form-field>
              <mat-label>שם משפחה:</mat-label>
              <input matInput id="lastNameApply" formControlName="hebrewLettersL" name="lastNameApply"
                [(ngModel)]="user.lastName" required />
              <mat-error *ngIf="
                      form.get('hebrewLettersL')?.invalid &&
                      (form.get('hebrewLettersL')?.dirty ||
                        form.get('hebrewLettersL')?.touched)
                    " style="color: red">{{ getErrorMessageHebrewLettersL() }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>מין:</mat-label>
            <mat-select id="chooseG" name="chooseG" [(ngModel)]="newPatientDetails.gender" (ngModelChange)="refrSes()">
              <mat-option style="text-align: right" *ngFor="let gender of arrayGender" [value]="gender.name">{{
                gender.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-auto">
          <mat-form-field>
            <mat-label>מגזר:</mat-label>
            <mat-select id="chooseSector" name="chooseSector" [(ngModel)]="newPatientDetails.sectorId"
              (ngModelChange)="onSelectedValueChangeSector($event)">
              <mat-option style="text-align: right">אחר</mat-option>
              <mat-option style="text-align: right" *ngFor="let sector of arraySector" [value]="sector.id">{{
                sector.detailsSector }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="isAnotherSector == true">
            <mat-label>שם מגזר אחר:</mat-label>
            <input matInput id="anotherSector" name="anotherSector"
              [(ngModel)]="newPatientDetails.detailsAnotherSector" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div [formGroup]="form">
            <mat-form-field>
              <mat-label>גיל :</mat-label>
              <input matInput formControlName="ageV" type="number" min="6" max="99" id="age" name="age"
                [(ngModel)]="newPatientDetails.ageFillApply" (change)="refrSes()" required />
              <mat-error *ngIf="
                      form.get('ageV')?.invalid &&
                      (form.get('ageV')?.dirty || form.get('ageV')?.touched)
                    " style="color: red">{{ getErrorMessageAge() }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>יליד חודש:</mat-label>
            <mat-select id="chooseC" name="chooseC" [(ngModel)]="newPatientDetails.mounth">
              <!--** (ngModelChange)="onSelectedValueChange($event)" *-->
              <mat-option style="text-align: right" *ngFor="let month of arrayMonth" [value]="month.name">{{ month.name
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <!-- <mat-form-field>
            <mat-label>תאריך לידה עברי :</mat-label>
            <input matInput [(ngModel)]="hebDate" />
          </mat-form-field> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div [formGroup]="form">
            <mat-form-field>
              <mat-label>טלפון המטופל:</mat-label>
              <input matInput formControlName="mobileNumber" id="phone" name="phone" [(ngModel)]="user.phone"
                required />
              <mat-error *ngIf="
                      form.get('mobileNumber')?.invalid &&
                      (form.get('mobileNumber')?.dirty ||
                        form.get('mobileNumber')?.touched)
                    " style="color: red">{{ getErrorMessageMobileNumber() }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div [formGroup]="form">
            <mat-form-field>
              <mat-label>טלפון הורים :</mat-label>
              <input matInput formControlName="mobileNumberP" id="phone" name="phone"
                [(ngModel)]="newPatientDetails.parentPhone" />
              <mat-error *ngIf="
                      form.get('mobileNumberP')?.invalid &&
                      (form.get('mobileNumberP')?.dirty ||
                        form.get('mobileNumberP')?.touched)
                    " style="color: red">{{ getErrorMessageMobileNumberP() }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label> עיר מגורים :</mat-label>
            <input matInput id="city" name="city" [(ngModel)]="newAddress.city"
              (ngModelChange)="onInputValueCity($event)" required />
          </mat-form-field>
        </div>
        <div class="col-md-3" *ngIf="isJerusalem == true">
          <mat-form-field>
            <mat-label>שכונה :</mat-label>
            <input matInput id="neighborhood" name="neighborhood" [(ngModel)]="newAddress.neighborhood" />
          </mat-form-field>
        </div>

      </div>

    </div>

  </div>


  <!-- עד כאן מסודר! -->
  <div class="list-product-container">
    <!-- <div class="header-container"> -->
    <h2 class="header-text">רקע משפחתי</h2>
    <div class="detaile">

      <div class="row">
        <div class="col-md-3">
          <div [formGroup]="form">
            <mat-form-field style="text-align: right;">
              <mat-label>סטטוס הורים :</mat-label>
              <mat-select style="text-align: right;width: 70%;" id="selectedStatusParentC" name="selectedStatusParentC"
                [(ngModel)]="newFamily.parentStatus" formControlName="parent">
                <mat-option style="text-align: right;" *ngFor="let status of arrayStatusParent"
                  [value]="status.name">{{status.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-3">
          <div [formGroup]="form">
            <mat-form-field>
              <mat-label>מיקום במשפחה :</mat-label>
              <input matInput formControlName="numberVV" placeholder="0" type="number" min="0" max="25" id="numberVV"
                name="numberVV" [(ngModel)]="newPatientDetails.familyPlace" required />
              <mat-error *ngIf="
                    form.get('numberVV')?.invalid &&
                    (form.get('numberVV')?.dirty ||
                      form.get('numberVV')?.touched)
                  " style="color: red">{{ getErrorMessageNumberV() }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div [formGroup]="form">
            <mat-form-field>
              <mat-label class="text-start">מתוך :</mat-label>
              <input matInput formControlName="numberV" placeholder="0" type="number" min="0" max="25"
                id="childrenNumber" name="childrenNumber" [(ngModel)]="newFamily.childrenNumber" required />
              <mat-error *ngIf="
                    form.get('numberV')?.invalid &&
                    (form.get('numberV')?.dirty || form.get('numberV')?.touched)
                  " style="color: red">{{ getErrorMessageNumber() }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label class="text-start">פירוט נוסף על המשפחה:</mat-label>
            <textarea matInput style="border: none" id="familyDetails" name="familyDetails"
              [(ngModel)]="newFamily.familyDetails" class="text-input" #textarea
              (input)="resizeTextarea(textarea)"></textarea>
            <!-- <mat-error *ngIf="form.get('textAreaHeb')?.invalid && (form.get('textAreaHeb')?.dirty || form.get('textAreaHeb')?.touched)"style="color:red;">{{getErrorMessageHebrewLettersTExtA()}}</mat-error> -->
          </mat-form-field>
        </div>
        <!-- <form (ngSubmit)="saveNow()" class="example-form" mat-label-position="end"> -->
        <mat-error *ngIf="validPlace() == false">

          <span style="color: red">שים לב המיקום אינו תואם למספר הילדים במשפחה</span>
        </mat-error>
      </div>
    </div>
  </div>
  <div class="list-product-container">
    <!-- <div class="header-container"> -->
    <h2 (click)="isOpI()" class="header-text">מקום לימודים </h2>
    <div *ngIf="isOp">
      <h3 class="header-text">מקום לימודים נוכחי</h3>
      <table style="text-align: right;width:50% ;" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">סוג</th>
            <th scope="col">שם הישיבה</th>
            <th scope="col">כיתת לימוד </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <td *ngIf="newEducationalInstitutionsApplicant.id==null">
            <mat-form-field style="text-align: right;width: auto;">
              <mat-label> סוג :</mat-label>
              <mat-select id="chooseCategory" (ngModelChange)="onSelectedValueChangeCategory($event)"
                name="chooseCategory" [(ngModel)]="chooseCategory">
                <mat-option style="text-align: right;" *ngFor="let c of arrayCategory"
                  [value]="c">{{c.detailsCategory}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td *ngIf="newEducationalInstitutionsApplicant.id!=null">{{chooseCategory}}
          </td>
          <td *ngIf="newEducationalInstitutionsApplicant.id==null">
            <mat-form-field style="text-align: right;width: auto;">
              <mat-label> שם הישיבה :</mat-label>
              <mat-select id="selectedValueNameIns" (ngModelChange)="onSelectedValueNameIns($event)"
                name="selectedValueNameIns" [(ngModel)]="selectedValueNameIns">
                <mat-option style="text-align: right;"></mat-option>
                <mat-option [value]=" " style="text-align: right;">אחר</mat-option>
                <mat-option style="text-align: right;" *ngFor="let item of arrayEducational"
                  [value]="item.institutionName">{{item.institutionName}}
                  -{{item.enotherName}}-{{item.address?.city}}</mat-option>
              </mat-select>
            </mat-form-field>

          </td>
          <td *ngIf="newEducationalInstitutionsApplicant.id!=null">{{selectedValueNameIns}}</td>
          <td *ngIf="newEducationalInstitutionsApplicant.id==null">
            <mat-form-field style="text-align: right;width: auto;">
              <mat-label> כיתת לימוד :</mat-label>
              <mat-select id="selectedValueClassL" [(ngModel)]="selectedValueClassL" name="selectedValueClassL">
                <mat-option style="text-align: right;"></mat-option>
                <mat-option style="text-align: right;" *ngFor="let item of chooseArray"
                  [value]="item.name">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td *ngIf="newEducationalInstitutionsApplicant.id!=null">
            {{selectedValueClassL}}
          </td>
          <td *ngIf="newEducationalInstitutionsApplicant.id!=null">
            <span> <svg id="b" (click)="deleteCurrentIns()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg></span>
            <span><svg id="b" (click)="updateIns()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
              </svg></span>
          </td>
        </tbody>
      </table>
      <button *ngIf="newEducationalInstitutionsApplicant.id==null" style="background-color: white;"
        (click)="next()">הוסף מקום לימוד נוכחי</button>
      <button *ngIf="newEducationalInstitutionsApplicant.id!=null" style="background-color: white;"
        (click)="opentLastEdu=!opentLastEdu">הוסף מקום לימוד קודם</button>

      <div *ngIf="opentLastEdu">
        <app-educational-institutions-applicant [category]="currentCategory"></app-educational-institutions-applicant>
      </div>
      <!-- ----- -->
      <div *ngIf="isAnotherInstiton==true">
        <div class="row ">
          <div class="col-md-2">
            <label for="nameAnotherInstiton">
              שם מוסד לימודים <span class="glyphicon glyphicon-pencil"></span></label>
          </div>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="newEducationalInstitution.institutionName" id="newInstitutionName"
              name="newInstitutionName" placeholder="שם מוסד לימודים  ">
          </div>
          <!-- <div class="col-md-2 ">
            <button type="button" class="btn" (click)="isClickReturnList()">חזרה לבחירה מתוך הרשימה הקיימת</button>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-2 ps-1">
            <label for="nameAnotherInstiton">שם נוסף/ שם הרב המנהל <span
                class="glyphicon glyphicon-pencil"></span></label>
          </div>

          <div class="col-md-3">
            <input type="text" [(ngModel)]="newEducationalInstitution.enotherName" id="newInstitutionAnotherName"
              name="newInstitutionAnotherName" placeholder="שם נוסף /שם הרב המנהל ">
          </div>

        </div>
        <!-- עיר אחרת -->
        <div class="row">
          <div class="col-md-2">
            <label for="nameAnotherCity">עיר <span class="glyphicon glyphicon-pencil"></span></label>
          </div>

          <div class="col-md-3">
            <input type="text" [(ngModel)]="newAddressE.city" id="nameAnotherCity" name="nameAnotherCity"
              placeholder="שם עיר ">
          </div>
        </div>
        <button type="submit" (click)="next()">הוספת מקום לימודים למאגר</button>
      </div>

    </div>
  </div>
  <div class="list-product-container">
    <!-- <div class="header-container"> -->
    <h2 class="header-text">פרטי הפניה</h2>
    <div class="details">
      <!-- <app-details-applicants></app-details-applicants> -->
      <div class="row">
        <textarea class="text-input" id="detailsApplyCaused" name="detailsApplyCaused"
          [(ngModel)]="currentApply.detailsCausedRefferal" #textarea (input)="resizeTextarea(textarea)"
          (change)="saveAndUpdateDetailsCause()" matInput>
              </textarea>
      </div>
      <div [formGroup]="form">
        <div class="row">
          <div class="col-4">
            <h3 (click)="isP('studiesB')">תחום לימודי- </h3>
            <mat-label *ngIf="studiesB">איך בלימוד?</mat-label>
            <textarea *ngIf="studiesB" [(ngModel)]="newPatientDetails.studies" class="text-input"
              (input)="resizeTextarea(textarea)" #textarea matInput id="studies" name="studies"
              formControlName="studies"></textarea>
          </div>
          <div class="col-4">
            <h3 (click)="isP('socialB')">תחום חברתי- </h3>
            <mat-label *ngIf="socialB">איך בחברה?</mat-label>
            <textarea *ngIf="socialB" [(ngModel)]="newPatientDetails.social" class="text-input"
              (input)="resizeTextarea(textarea)" #textarea matInput id="social" name="social"
              formControlName="social"></textarea>
          </div>
          <div class="col-4">
            <h3 (click)="isP('emotionalB')">תחום רגשי-</h3>
            <mat-label *ngIf="emotionalB">איך מתנהל בבית מול ההורים והאחים?</mat-label>
            <textarea *ngIf="emotionalB" [(ngModel)]="newPatientDetails.emotional" class="text-input"
              (input)="resizeTextarea(textarea)" #textarea matInput id="emotional" name="emotional"
              formControlName="emotional"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h3 (click)="isP('diagnosesB')"> אבחונים- </h3>
            <mat-label *ngIf="diagnosesB">איזה אבחונים עבר?</mat-label>
            <textarea *ngIf="diagnosesB" [(ngModel)]="newPatientDetails.diagnoses" class="text-input"
              (input)="resizeTextarea(textarea)" #textarea matInput id="diagnoses" name="diagnoses"
              formControlName="diagnoses"></textarea>
          </div>
        </div>
        <h3>האם היה בתהליך טיפולי?</h3>
        <div class="row"></div>
        <div class="col-md-3">
          <mat-radio-group id="selectedOptionTipul" name="selectedOptionTipul" (change)="onChangeTipul()"
            formControlName="taalich">
            <mat-radio-button  [checked]="newPatientDetails.isTherapeutic" [color]="color" [value]="true">כן</mat-radio-button>
            <mat-radio-button  [checked]="!newPatientDetails.isTherapeutic" [color]="color" [value]="false">לא</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="row" *ngIf="isTipul==true||newPatientDetails.isTherapeutic==true">
          <div *ngIf="arrayTerapists.length>0">
            <mat-form-field>
              <mat-label>מטפל:</mat-label>
              <mat-select id="chooseTerapist" name="chooseTerapist" [(ngModel)]="newPatientDetails.terapistId"
                (ngModelChange)="onSelectedValueChangeTerapist()" formControlName="chooseT">
                <mat-option style="text-align: right" [value]="0">אחר</mat-option>
                <mat-option style="text-align: right" *ngFor="let t of arrayTerapists" [value]="t.id">{{
                  t.idUserNavigation?.firstName }}-{{ t.idUserNavigation?.lastName}}-{{t.city}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div *ngIf="arrayTerapists.length==0||isAnotherTerapist">
            <div class="col-md-3">
              <mat-form-field>
                <mat-label>שם פרטי של המטפל:</mat-label>
                <input matInput id="firstName" name="firstName" (change)="updateSessiontoTerapist()"
                  [(ngModel)]="userMetapel.firstName" formControlName="first">
                <mat-error
                  *ngIf="form.get('first')?.invalid && (form.get('first')?.dirty || form.get('first')?.touched)"
                  style="color:red;">שדה חובה</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3"> <mat-form-field>
                <mat-label>שם משפחה של המטפל:</mat-label>
                <input matInput id="lastName" name="lastName" [(ngModel)]="userMetapel.lastName"
                  (change)="updateSessiontoTerapist()" formControlName="last">
                <mat-error *ngIf="form.get('last')?.invalid && (form.get('last')?.dirty || form.get('last')?.touched)"
                  style="color:red;">שדה חובה</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3"> <mat-form-field>
                <mat-label>טלפון :</mat-label>
                <input matInput [(ngModel)]="userMetapel.phone" formControlName="mobileNumberM" id="phone" name="phone"
                  (change)="updateSessiontoTerapist()">
                <mat-error *ngIf="form.get('mobileNumberM')?.invalid && (form.get('mobileNumberM')?.
                    dirty || form.get('mobileNumberM')?.touched)"
                  style="color:red;">{{getErrorMessageMobileNumberP()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3"> <mat-form-field class="example-full-width">
                <mat-label>תפקיד :</mat-label>
                <mat-select [(ngModel)]="newTerapist.job" id="datailsJobTerapist" name="datailsJobTerapist"
                  formControlName="job">
                  <mat-option style="text-align: right" *ngFor="let t of arrayJob"
                    [value]="t.name">{{t.name}}</mat-option>
                </mat-select>
                <!-- 
                <input matInput [(ngModel)]="newTerapist.job" id="datailsJobTerapist"
                  name="datailsJobTerapist" formControlName="job"> -->
              </mat-form-field>
            </div>
            <div class="col-md-3"> <mat-form-field>
                <mat-label>עיר :</mat-label>
                <input matInput [(ngModel)]="newTerapist.city" formControlName="city" id="city" name="city"
                  (change)="updateSessiontoTerapist()">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3">
            <mat-label> האם נמצא עדיין בתהליך טיפולי?</mat-label>
            <mat-radio-group id="selectIsStillTerapist" name="selectIsStillTerapist" [(ngModel)]="selectIsStillTerapist"
              formControlName="still" (change)="onChangeStillTipul(selectIsStillTerapist)">
              <mat-radio-button  [checked]="" [color]="color" [value]=true>כן</mat-radio-button>
              <mat-radio-button [color]="color" [value]=false>לא</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-md-3">
            <mat-label> במידת הצורך האם יש אישור לפנות אליו ?</mat-label>
            <mat-radio-group id="permissionContactTM" name="permissionContactTM"
              [(ngModel)]="newPatientDetails.permissionContactTm" formControlName="permissionContactT"
              (change)="updateSessionPatientDetails()">
              <!-- (change)="onChangeIsContact(currentPatientDetailsByApplyId.isContact)" -->
              <mat-radio-button [color]="color" value=true>כן</mat-radio-button>
              <mat-radio-button [color]="color" value=false>לא</mat-radio-button>
              <!-- <mat-radio-button [color]="color" value="נעדכן בהמשך">נעדכן בהמשך</mat-radio-button> -->
            </mat-radio-group>
          </div>
        </div>
        <h3>האם קיים קשר עם דמות בוגרת ?</h3>
        <div class="row">
          <div class="col-md-3">
            <mat-radio-group id="isMatureCharacter" name="isMatureCharacter" (change)="onChangeIsMatureCharacter()"
              formControlName="p">
              <mat-radio-button [color]="color" [value]="true">כן</mat-radio-button>
              <mat-radio-button [color]="color" [value]="false">לא</mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="isMatureCaracter==true||newPatientDetails.isMatureCharacter">
            <div class="row">
              <mat-label>חונך ומלווה:</mat-label>
            </div>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>שם פרטי של החונך:</mat-label>
                  <input matInput id="firstNameC" formControlName="hebrewLettersC" name="firstNameC"
                    [(ngModel)]="userMetapelC.firstName" (ngModelChange)="updateUserMetapelC()">
                  <mat-error *ngIf="form.get('hebrewLettersC')?.invalid &&
                     (form.get('hebrewLettersC')?.dirty || form.get('hebrewLettersC')?.touched)" style="color:red;">שדה
                    חובה</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>שם משפחה של החונך:</mat-label>
                  <input formControlName="hebrewLettersCL" matInput id="firstNameC" name="firstNameC"
                    [(ngModel)]="userMetapelC.lastName" (ngModelChange)="updateUserMetapelC()">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>טלפון :</mat-label>
                  <input matInput formControlName="mobileNumberC" id="phoneC" name="phoneC"
                    (ngModelChange)="updateUserMetapelC()" [(ngModel)]="userMetapelC.phone">
                  <mat-error
                    *ngIf="form.get('mobileNumberC')?.invalid && (form.get('mobileNumberC')?.dirty || form.get('mobileNumberC')?.touched)"
                    style="color:red;">{{getErrorMessageMobileNumberC()}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3"> <mat-form-field>
                <mat-label>עיר :</mat-label>
                <input matInput [(ngModel)]="matureCharacter.nameCity" formControlName="cityM" id="city" name="city"
                  (change)="updateSessiontoCharacter()">
              </mat-form-field>
            </div>
              <div class="col-md-3"> <mat-form-field class="example-full-width">
                  <mat-label> באיזה מסגרת פגש אותו ?</mat-label>
                  <input matInput id="matureCharacter" formControlName="hebrewLettersCM" name="matureCharacter"
                    [(ngModel)]="matureCharacter.framwork" (ngModelChange)="updateSessiontoCharacter()">
                  <mat-error
                    *ngIf="form.get('hebrewLettersCM')?.invalid && (form.get('hebrewLettersCM')?.dirty || form.get('hebrewLettersCM')?.touched)"
                    style="color:red;">שדה חובה</mat-error>

                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-label> אישור לפנות אליו?</mat-label>

                <mat-radio-group id="PermissionContact" name="PermissionContact" formControlName="permissionContact"
                  [(ngModel)]="newPatientDetails.permissionContactM" (change)="updateSessiontoCharacter()">
                  <mat-radio-button [color]="color" value="true">כן</mat-radio-button>
                  <mat-radio-button [color]="color" value="false">לא</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <!-- סגירת שורה -->
          </div>
          <!-- סגירת תנאי אם יש קשק לדמות בוגרת -->
        </div>

        <!-- סגירת הפורם הדיב של פרוט הפניה -->
      </div>
      <!-- סגירה של דיטיילס -->
    </div>
    <!-- סגירה של פרודקט קונטיינר -->
  </div>
</div>

<div *ngIf="!isNotExistPatient" class="row justify-content-md-center">
  <div class="col-md-auto d-flex">
    <!-- האם זה הפונקציה שיש לשמור את הנתונים? -->
    <button type="submit" [disabled]="form.invalid" class="btn" (click)="saveNow()">
      שמור
    </button>
  </div>
</div>
<div *ngIf="isNotExistPatient" class="row justify-content-md-center">
  <div class="col-md-auto d-flex">
    <!-- האם זה הפונקציה שיש לשמור את הנתונים? -->
    <button type="submit" [disabled]="form.invalid" class="btn" (click)="saveNow()">
      עדכן
    </button>
  </div>
</div>