<app-header></app-header>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="keyboard_return"><span (click)="return()" class="material-symbols-outlined">
        keyboard_return
    </span></div>
<div class="row justify-content-center">
    <h2>פנייה מספר:{{currentNumApply}} </h2>
</div>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-6">
            <p class="text-center">שלבי הטיפול</p>
            <!-- הוספת שלב טיפול חדש -->
            <!-- להוסיף אייקון + -->
            <div *ngIf="!isClickAddTreatment" class="example-button-container">
                <button (click)="isClickAddTreatmentF()"
                    style="border-radius: 50%;background-color: #8E9A39; width: 60px;" mat-fab color="warn">
                    <mat-icon><span class="material-symbols-outlined">
                            add
                        </span></mat-icon>
                </button>
            </div>
            <div class="row justify-content-end">
                <!-- <div class="col-md-4"> -->
                <!-- </div> -->
            </div>
            <!-- יש לבדוק מי נכנס מנהל / עובד ולהציג בהתאם את הרומפוננטה המתאימה -->
            <div *ngIf="isClickAddTreatment">
                <app-new-treatment-details [sivoug]="sivoug"></app-new-treatment-details>
            </div>
            <div *ngIf="IsSec">
                <app-new-treatment-details [IsSec]="IsSec"></app-new-treatment-details>
            </div>
            <div *ngIf="currentEmployees.job?.details=='מנהל פניות          '">
                <br>
                <div id="divTreatmentDetails">
                    <div class="conta">
                        <div class="row">
                            <div class="col">
                                <span *ngIf="item.dateNow" id="title"> בתאריך:</span>
                                <span> {{item.dateNow|date:'dd/MM/yyyy'}} </span>
                                <span *ngIf="item.dateNow" id="title"> בשעה :</span>
                                <span>{{item.dateNow|date:'HH:mm:ss'}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span *ngIf="item.therapist?.idUserNavigation?.firstName" id="title">
                                    {{item.therapist?.idUserNavigation?.firstName}} </span>
                                <span *ngIf="item.task?.taskName "
                                    id="title">ביצע</span><span>{{item.task?.taskName}}</span>
                            </div>
                        </div>
                        <span *ngIf="item.documentation" id="title">ומתאר
                            כי:</span><span>{{item.documentation}}</span>
                        <span *ngIf="item.nextStep?.taskName" id="title"> לשלב הבא קבע כי
                            יתבצע: <b>{{item.nextStep?.taskName}}</b> <span>
                                <span *ngIf="item.nextEmployeesId!=item.therapistId">
                                    <span *ngIf="item.nextEmployees?.idUserNavigation?.firstName" id="title">ע"י
                                        :</span></span><span>{{item.nextEmployees?.idUserNavigation?.firstName}}</span>
                            </span></span>
                        <span *ngIf="item.nextDocumentation&&item.nextStep?.id!=2" id="title">
                            -</span><span>{{item.nextDocumentation}} </span>
                        <span *ngIf="item.dateTask&&item.nextDocumentation" id="title"><br> יבוצע
                            לתאריך:</span><span
                            *ngIf="item.dateTask&&item.nextDocumentation">{{item.dateTask|date:'dd/MM/yyyy'}}</span>
                        <span *ngIf="item.nextStep?.id==2" id="title"> לשעה:<span>{{item.dateTask|date:'HH:mm'}}</span>
                            <br>{{item.nextDocumentation}} </span>
                        <div class="col-2">
                            <mat-icon id="del" style="cursor: pointer;" (click)="openDeleteDialog(item)"> delete
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="currentEmployees.job?.details!='מנהל פניות          '">
                <br>
                <div id="divTreatmentDetails">
                    <div class="conta">
                        <div class="row">
                            <div class="col">
                                <span *ngIf="item.dateNow" id="title">בתאריך:</span>
                                <span>{{item.dateNow|date:'dd/MM/yyyy'}}</span>
                                <span *ngIf="item.dateNow" id="title">בשעה:</span>
                                <span>{{item.dateNow|date:'HH:mm:ss'}}</span>
                            </div>

                        </div>
                        <!-- <div class="row"> -->
                        <!-- <div class="col"> -->
                        <span *ngIf="item.therapist?.idUserNavigation?.firstName" id="title">
                            {{item.therapist?.idUserNavigation?.firstName}} ביצע {{item.task?.taskName}} </span>
                        <!-- <span *ngIf="item.task?.taskName "
                                    id="title">  </span> -->
                        <!-- </div> -->
                        <span *ngIf="item.nextEmployees?.job?.id!=1 && item.taskId!=9">-{{item.documentation}}</span>
                        <span *ngIf="item.nextEmployees?.job?.id!=1 && item.taskId==9&&
                            item.nextEmployees?.id!=currentEmployees.id">- מידע חסוי</span><br>
                        <!-- </div> -->
                        <span *ngIf="item.nextStep?.taskName" id="title"> לשלב הבא קבע כי
                            יתבצע: {{item.nextStep?.taskName}}
                            <!-- <span> -->
                                <span *ngIf="item.nextEmployeesId!=item.therapistId">
                                    <span *ngIf="item.nextEmployees?.idUserNavigation?.firstName" id="title">ע"י
                                        :</span> <span>{{item.nextEmployees?.idUserNavigation?.firstName}}</span>
                                </span>

                            <!-- </span> -->
                        </span>
                        <span *ngIf="item.nextDocumentation" id="title"> -</span><span>{{item.nextDocumentation}}</span>
                        <span *ngIf="item.dateTask&&item.nextDocumentation" id="title"><br> יבוצע
                            לתאריך:</span><span
                            *ngIf="item.dateTask&&item.nextDocumentation">{{item.dateTask|date:'dd/MM/yyyy'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <!-- פרטי פניה -->
            <p class="text-center"> פרטי הפנייה מתוך האינטייק שמולא</p>
            <br>
            <app-patient-details></app-patient-details>
        </div>
    </div>
</div>