
 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top d-flex align-items-center">
  <!--רספונסיבי לא גמור-->
  <nav class="container d-flex align-items-center justify-content-between">
   
    <div class="logo">
     <img  src="../../../assets/images/logoWhite.png" alt=""class ="header__image">
    </div>
    <!--<h1>My Logo Hazinu</h1></div>
    <nav class="navigation">
        <a class="nav-link" href="#">דף בית</a>
        <a class="nav-link" href="#">אודות</a>
        <a class="nav-link" href="#">התחבר</a>
    </nav>-->
<!--כל התפריט הראשי למעלה-->
  <nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto active"(click)="return()"><i class="fa-solid fa-house"></i> דף בית</a></li>
      <li><a class="nav-link scrollto" href="vision">החזון שלנו</a></li>
      <li><a class="nav-link scrollto"(click)="exit()"> <i id="faClass" class="fa">&#xf08b;</i>התנתק</a>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </li>
    </ul>
  </nav><!-- .navbar -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<img src="/assets/smalLogo.JPG" class="img-responsive" alt="Responsive image">
<br><button (click)="returnHome()"style="color: rgb(21 48 141);"><i id="faClass"style="font-size:24px;color: rgb(21 48 141);" class="fa">&#xf08b;</i><br>יציאה /התנתקות</button>

<br> -->

<!-- <app-home-page></app-home-page> -->
</nav>
</header>
<router-outlet></router-outlet>
<!-- End Header -->