<app-header></app-header>
<div class="container">
    <div class="article-container">
        <div class="content">
            <div class="paragraph">
                <h1>החזון שלנו</h1>
                <p><br>
                    <span style="color: #8E9A39;"><strong>פרויקט ייחודי למגזר החרדי, לסיוע לבחורי ישיבה שחווים קשיים
                            בתחומי הלימודים, זיהוי נשירה סמויה, קשיים חברתיים, רגשיים, הפרעות קשב וריכוז
                            ועוד</strong></span>
                </p>
                <p>"מרכז האזינו" שם לו למטרה להעמיק את השיח והקשר עם צוותי החינוך בישיבות וההורים ולתת בידם כלים ויכולות
                    מקצועיות במגוון קשיים והתמודדויות שעומדות לפתחן.</p>
                <p>פעילות נוספת שמרכז האזינו שם לו למטרה היא סדנאות והרצאות טלפוניות מפי יועצים ורבנים מהשורה הראשונה
                    המיועדת לכלל הציבור תוך מתן כלים פרקטיים במגוון התמודדויות המצויות בכל בית. מידי מוצ"ש מצטרפים אלפים
                    לסדנאות המקצועיות שמעניקות כלים מעשיים בתחום החינוך וזאת לצד מאות הפניות לקו האזינו מצד הורים, אנשי
                    צוות חינוכי ותלמידי ישיבות המבקשים עצה ומזור ונענים באופן מקצועי ודיסקרטי. בחיוג לקווי האזינו ניתן
                    לעבור לשמיעת הסדנאות וההרצאות.</p>
                <p>כעת משהסתיימה מגיפת הקורונה, הרחיב "האזינו" את הפעילות בהדרכת הורים פרונטלית ומתן כלים להתמודדות עם
                    קשיים הנקרים בדרכם בחינוך ילדיהם. וכן עוסק בסוגיות שבלב החברה החרדית תוך שמירה על אופיה ועל ייחודה
                    במרחב הכללי.</p>
                <p>"האזינו" כאמור, הינו מרכז רב תחומי המהווה גשר בין הקהילה החרדית לבין המענים העירוניים הן ברווחה והן
                    בחינוך כדוגמת השפ"ח, הקבסי"ם, קידום נוער, תוכנית נוצ"ץ, לשכות הרווחה ועוד.<br>ההליך נעשה ע"י עובד
                    סוציאלי אשר אחראי על קבלת הפניות באופן מקצועי ולאחר מכן יועצי ורבני האזינו עוברים על הפניה ומחליטים
                    מהו המענה המתאים והמקצועי הנדרש.<br>לעיתים הפניה תטופל בקהילה בהכוונת יועצי האזינו או בהפניה למקור
                    חוץ מקצועי וכן בהפניה למענים העירוניים.</p>
                <p><span class="Blue" style="color: #8E9A39;"><strong>הפניות מתקבלות כאמור בשלושה מיקודים
                            עיקריים</strong></span></p>
                <ul>
                    <li>צוותי הישיבות נמצאים בקשר הדוק עם יועצי המרכז ואף פונים בשאלות לקבלת מענה מקצועי כיצד לפעול
                        במקרים שנדרשת התערבות מקצועית והן במקרים בהן נדרשת הכוונה למענים עירוניים <br>כמו"כ רבני המרכז
                        מקיימים מפגשי העשרה וימי עיון וסדנאות עבור צוותי ישיבות הן בתוך הישיבות כמענה ממוקד והן בהרחבה
                        בשיתוף מרכז פסג"ה.</li>
                    <li>הורים, או מי מטעמם המורשים לפנות עפ"י חוק, פונים לקבלת הדרכה הורית וכן סיוע בהשמה למסגרות חינוך.
                        מענה זה מצריך צוות של יועצים חינוכיים ומנחי הורים שפועלים בקבוצות ובפרטני וכן מנגישים את השירות
                        העירוני לפי הצורך ומסייעים בבניית אמון מול המערכות המקצועיות.</li>
                    <li>פניה של תלמידים בבקשת סיוע, בעיקר מגיל 16 ומעלה צעירים (ומעט צעירות) שמתמודדים עם קשיים במגוון
                        תחומים אישיים החל מהצד הרוחני, דרך קשיים בלימודים ועד מצוקות נפשיות. הם פונים לקבלת סיוע מהמרכז
                        ונענים ע"י צוות המרכז תוך הקפדה יתירה על אופי הפניה והתערבות במידת הצורך מול ההורים והמסגרת
                        הלימודית באישור הפונה.</li>
                </ul>
                <p>מרכז "האזינו" הוקם ע"י חבר מועצת עיריית ירושלים מחזיק תיק הרווחה וקידום נוער הרב אלחנן גרוסבוים הי"ו,
                    בסיועו של ראש העיר מר משה ליאון אשר ליבו פתוח לסייע לבני הישיבות בכל זמן.</p>
                <p>המרכז פועל בהכוונת גדולי התורה, ראשי הישיבות ואישי החינוך, שעוסקים במשך רבות בשנים בהכוונה וסיוע לבני
                    הישיבות הקדושות, ולבקשת גדולי ישראל, עומדים על המשמר בהכוונה וייעוץ בכל ענין במרכז, תוך מתן דגש על
                    הקניית כלים המעניקים חינוך ראוי בגיל צעיר שמונע בעיות חינוכיות עתידיות.</p>
                <p>על הניהול המקצועי של המרכז מופקד היועץ החינוכי ומומחה בתחום בריאות הנפש - הרב שלמה ריין אשר לו ניסיון
                    רב בתחום.</p>
                <p><strong>מענה טלפוני ראשוני ניתן מידי ערב בין השעות 17:00- 22:00, בטלפון </strong><a
                        href="tel:077-2660000"><strong>077-2660000</strong></a></p>
                <p>ניתן להשאיר הודעה בכל שעות היממה ופנייתכם&nbsp;תועבר לטיפול</p>
                <p><strong>כמו"כ ניתן לשלוח פקס&nbsp; למספר&nbsp; <a href="0733986006">0733986006 </a></strong></p>
                <p><strong>או מייל &nbsp;</strong><a
                        href="mailto:ha@0772260000.co.il"><strong>ha@0772260000.co.il</strong></a></p>
                <p><strong>&nbsp;וכן הודעת וואטצאפ במספר של המשרד - <a href="0772260000">0772260000</a></strong></p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
