
.article-container {
    position: relative;
    background-color: #fff;
    padding: 35px 50px;
}

.article-container .content p {
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
    font-family: Heebo-Light;
    line-height: 1.5;
}
.article-container .content .paragraph p {
    margin-bottom: 1rem;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 18px;
    font-family: Heebo-Light;
    line-height: 1.5;

}
