<link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
<!-- ======= Footer ======= -->
<footer class="container-fluid ">
  <div class="row justify-content-center align-items-center">
    
   
 
      <div class="col col-lg-2 col-sm-7  center align-items-stretch ">
        <a href="https://mail.google.com/" target="_blank"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i> צרו קשר</a>
      </div>
      <div class="col col-lg-2 col-sm-7  center align-items-stretch">
          <a class="a"><i class="fa-solid fa-phone" style="color: #ffffff;"></i> טלפון: 02-6232713</a>
          <i class="fa-solid fa-phone-rotary" style="color: #ffffff;"></i>
      </div>

      <div class="col col-lg-2 col-sm-7  center align-items-stretch">
        <a class="a"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>וואטצאפ 0772260000</a>
      </div>
      <div class="col col-lg-3 col-sm-7  center align-items-stretch">
        <a href="https://goo.gl/maps/hSnmyxTprEidUBRY6"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i> כתובת: רחוב בן יהודה 34 ירושלים</a>
      </div> 
      <div class="col col-lg-2 col-sm-7  center align-items-stretch">
        <img  src="../../../assets/images/logoWhite.png" alt="" class ="header__image">
      </div>
    </div>

<div class="row justify-content-between">
   <!-- <div class="col col-xl-3 col-sm-5 ">
          <a href="https://mobile.twitter.com/momentum_my" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/Momentumchoc/?locale=he_IL" target="_blank">
            <i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/p/CfJaGGFtlO6/?img_index=1" target="_blank">
            <i class="bi bi-instagram"></i></a>
          <a href="https://www.youtube.com/watch?v=ogNTYkdMcwU" target="_blank"><i class="bi bi-youtube"></i></a>
          <a href="https://belgianchocolate.co.il//" target="_blank" class="bi bi-globe2"></a>
    </div> -->
    <div class="d-none col-lg-3 col-xl-3 d-lg-block  p-3" style="color: #ffffff;"> ©כל הזכויות שמורות למרכז האזינו </div>
</div>
      <!-- <div class=" d-none col-lg-2 d-xl-block gold p-3"> <a href="termsOfUse.html">terms Of Use</a></div> -->
</footer>

    <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a> -->

