
.ftco-section{
    margin-top: 20px;
}
.form-floating mb-3{
    margin: auto
}
.container-login100 {
  height: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}
input{
   width: 200px;
   height: 40px;
   text-align: center;
}
.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.65);
}
.mat-frame{
   // position: relative;
    //margin-left:400px;
    //margin-right:400px;
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    border-radius: 10px;
}
    // width: 300px;
    // height: 300px;
   // height: 100vh;


.mat-card-title{
  
    text-align: center;
    font-size: 16px;
    color: #4CAF50;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    //text-align: center;
   
    /* align-items: center; */
    //position: absolute;
    //left: 60px;
    //margin-bottom: 10px;
  }
  .input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  //עיצוב הועבר לstyls.scss
// .btn{
//     margin-top: 8px;
//     background-color: rgb(30, 146, 53);
//     color:black;
// }

.kod{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 19% ;
    direction: rtl;
}

.container mat-form-field + mat-form-field {
    display: inline-block;

    position: relative;
    left:400px;
  }
  .inputMail{
    margin-left: 80px;
  }
 .mat-form-field.ng-tns-c70-0.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-untouched.ng-pristine.ng-invalid.ng-star-inserted {
    position: relative;
    left: 400px;
}
  
  