

  <div class="container-login100" style="background-image: url( '../../../assets/images/Pickture-art-5.jpg');">

<div class="container" >
  
  <mat-card class="mat-frame">
    <svg style=" border:3px solid #188a09; padding:10px
; display: block;
margin-left: auto;
margin-right: auto;
border-radius: 40%;
" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
  </svg>
  <br>
    <!-- <div class="col justify-content-center align-items-center"> -->
      <mat-card-title style="font-family: heebo-medium;">כתובת המייל לשליחת קוד אימות</mat-card-title>
      <mat-card-subtitle>
        <!-- <div class="row d-flex justify-content-center align-items-center"> -->
         <div class="input-container"> 
         
            <input  matInput placeholder="pat@example.com"  
            [(ngModel)]="email" value="email" placeholder="כתובת דוא''ל" dir="rtl" name="psw" required/>
           <!--בדיקה אם מייל תקני-->
         <!-- <mat-error *ngIf="email?.invalid">{{getErrorMessage()}}</mat-error> -->
        </div> 
      
        </mat-card-subtitle>

   
    
<button class="btn btn-outline-light btn-lg px-5" 
 class="btn btn-outline-success" style="margin: auto;display: block;" 
(click)="sendCode()">אישור  </button>
<!-- </div> -->
</mat-card>
</div>
  </div>
<router-outlet></router-outlet>



